<header>
    <div class="header-left">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo_png.png') }}" alt="logo">
        </div>
        <div class="icon-button" role="button"><span class="material-symbols-outlined">add</span></div>
        <div class="icon-button" role="button"><span class="material-symbols-outlined">search</span></div>
    </div>

    <div class="header-right">
        <div class="icon-button" role="button"><span class="material-symbols-outlined">notifications</span></div>
        <div class="icon-button" role="button"><span class="material-symbols-outlined">help</span></div>
        <div class="icon-button" role="button"><span class="material-symbols-outlined">account_circle</span></div>
    </div>
</header>
