<ul class="nav-links">
    <li><a href="{{ url_for('finance.investments', user_id=current_user.id) }}" class="nav-item {% if invest_type == 'home_invest' %}active{% endif %}">Home</a></li>
    {% for broker in brokerages_menu %}
        {% set broker_slug = broker | lower %}
        <li>
            <a href="{{ url_for('finance.' + broker_slug) }}" 
               class="nav-item {% if invest_type == broker_slug %}active{% endif %}">
               {{ broker | replace('Invest', ' Invest') }}
            </a>
        </li>    
    {% endfor %}
</ul>
