<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<script>
    const sidebarButtons = document.querySelectorAll('.button-sidebar');
    sidebarButtons.forEach(btn => {
        btn.addEventListener('click', () => {
            sidebarButtons.forEach(b => b.classList.remove('active'));
            btn.classList.add('active');
        });
    });
</script>

<script>
    const selectPageButtons = document.querySelectorAll('.nav-item');
    selectPageButtons.forEach(btn => {
        btn.addEventListener('click', () => {
            selectPageButtons.forEach(b => b.classList.remove('active'));
            btn.classList.add('active');
        });
    });
</script>

<script>
    const activePage = "{{ active_page }}";
    const chartAxis = activePage === "finance_real"
        ? "Valor (R$)"
        : "Valor (€)";
</script>