<div class="sidebar-menu">
    <a href="{{ url_for('user.user_homepage', user_id=current_user.id) }}" class="sidebar-button {% if active_page == 'home' %}active{% endif %}" role="button">
        <span class="material-symbols-outlined">home</span>
    </a>

    {% for uc in current_user.user_currencies %}
        <a href="{{ url_for('finance.finance', currency=uc.currency.code|lower) }}" 
           class="sidebar-button {% if active_page == 'finance_' ~ uc.currency.code|lower %}active{% endif %}" 
           role="button">
            <span class="material-symbols-outlined">{{ uc.currency.icon }}</span>
        </a>
    {% endfor %}

    <a href="{{ url_for('finance.investments') }}" class="sidebar-button {% if active_page == 'investments' %}active{% endif %}" role="button">
        <span class="material-symbols-outlined">finance_mode</span>
    </a>

</div>
