# Ambiente Virtual
venv/
.venv/
env/

# Arquivos do Python
__pycache__/
*.pyc

# Banco de dados local (SQLite)
instance/
*.db

# Pastas do VS Code ou Sistema
.vscode/
.DS_Store

# Arquivos de variáveis de ambiente
.env