* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

