* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html{
  min-height: 500px;
  overflow-y: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  /* overflow-x: auto; */


}

