.sidebar-settings{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  height: 12%;
  padding-top: 10%;
  gap: 10%;
}

.icon-button-settings {
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35%;
  text-decoration: none;
}

.icon-button-settings .material-symbols-outlined {
  position: relative;
  color: #64647f;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.icon-button-settings:hover .material-symbols-outlined {
  color: white;
  font-size: 2.2rem;
}


.icon-button {
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 9vh;
  text-decoration: none;
}

.icon-button .material-symbols-outlined {
  position: relative;
  color: #64647f;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.icon-button:hover .material-symbols-outlined {
  color: white;
  font-size: 2.2rem;
}

.sidebar-button {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35%;
    text-decoration: none;  
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-button:hover .material-symbols-outlined{
    color: white;
    font-size: 2.2rem;
}

.sidebar-button.active {
    border-radius: 0px;
  border-left: 5px solid blue;
}

.sidebar-button .material-symbols-outlined {
    position: relative;
    color: #64647f;
    font-size: 2rem;
    transition: color 0.2s ease;
}

.sidebar-button.active .material-symbols-outlined {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  color: #53545c;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.nav-item:hover {
  font-size: 1.25rem;
}

.nav-item.active {
  border-bottom: 2px solid blue;
}

.logo-container {
  height: 90%;
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-right: 10%;
}

.logo-container img {
  height: 80%;
  width: auto;
  object-fit: contain;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 5%;
  height: 100%;
  /* background-color: #444; */
}

/* Graph header container */
.header-graph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: #5b8def; */
  height: 6%;
}

/* Graph title */
.title-graph {
  font-size: 1.25rem;
  font-weight: 500;
  color: #444;
  white-space: nowrap;
}

