#euro-finance-container {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  height: 100%;
  width: 100%;
}

/* Left Section */
#euro-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  gap: 2%;
}

#card-incomes-expenses {
  height: 100%;
  width: 100%;
}

#card-cumulative-balance {
  height: 45%;
  width: 100%;
}

/* Shared Graph Container Styling */
.graph-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right Section */
#euro-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  gap: 2vh;
}

/* Exchange Rate Display */
#card-euro-exchange {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  gap: 1vh;
  border-radius: 2vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}

#exchange-rate-display {
  font-size: 2.5rem;
  font-weight: bold;
  color: #53545c;
}

/* Expense Breakdown Card */
#card-expenses-breakdown {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

#chart-expenses-breakdown {
  height: 85%;
}

/* Dropdowns */
#yearSelect,
#yearSelectCumulative,
#monthSelect,
#viewSelect {
  width: 15vh;
}

#chart-euro-incomes-expenses,
#chart-cumulative-euro{
  flex-grow: 1;
  padding: 0%;
}