#finance-content {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  width: 100%;
  height: 100%;
}

#yearSelectCumulative{
  width: 15vh;
}

#main-chart-section {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 2vh;
  justify-content: center;
  height: 100%;
}

#cumulative-balance-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 100%;
}

#side-chart-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2vh;
  justify-content: center;
  height: 100%;
}

#currency-exchange-card {
  height: 40%;
  display: flex;
  width: 100%;
}

#income-expense-card {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
}

#chart-cumulative-balance,
#chart-income-expenses,
#chart-currency {
  flex-grow: 1;
}


