main {
  display: flex;
  height: 100%;
  padding-top: 8vh;
  background-color: #eeeff6;
  flex: 1;
}

header {
  background-color: #26263e;
  color: white;
  height: 9vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  padding-right: 2vh;
}

#sidebar {
  background-color: #373752;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#top-nav {
  height: 9vh;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #dcdadb;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#page-content {
  display: flex;
  gap: 2vh;
  padding: 2vh;
  height: 100%;
  width: 100%;
   height: 83vh;
}

