<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Dashboard{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/investments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/box_flutuante.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>

<body>
    <header>
    {% include "components/header.html" %}
    </header>
    <main>
        <aside id="sidebar">{% include "components/sidebar.html" %}</aside>

        <section id="main-content"> 
            <nav id="top-nav">{% block navbar %}{% include "components/navbar.html" %}{% endblock %}</nav>
            <div id="page-content">{% block page %}{% endblock %}</div>
        </section>
    </main>
    
    <script src="{{ url_for('static', filename='js/utils/input-modal.js') }}"></script>
</body>
</html>

{% include "components/scripts.html" %}