{% extends "base.html" %}

{% block title %}Finance - {{ currency_code }}{% endblock %}

{% block page %}
  <script type="application/json" id="data-pie-chart">{{ datas_category|safe }}</script>
  <script type="application/json" id="data-incomes-expenses">{{ datas_income_expense|safe }}</script>

  <script type="module" src="{{ url_for('static', filename='js/graphs/graph-pie-expenses-analysis.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/graphs/graph-bar-incomes-expenses.js') }}"></script>
  
  {# Injeta os dados de cotação apenas se NÃO for Real #}
  {% if currency_code != 'BRL' %}
    <script type="application/json" id="data-currency-graph">{{ euro_brl|safe }}</script>
    <script type="module" src="{{ url_for('static', filename='js/graphs/graph-euro-price.js') }}"></script>
  {% endif %}


  <!-- Main Layout -->
  <div id="finance-container">

    <!-- Left Graphs -->
    <div class="income-expense-card">

      <!-- Header: Income vs Expenses -->
      <div class="header-graph">
        <div class="title-graph">Income vs Expenses</div>
        <div class="select-graph">
          <select id="yearSelect">
            <option value="all" selected>All</option>
            {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
          <select id="viewSelect">
            <option value="month">Monthly</option>
            <option value="year">Yearly</option>
          </select>
        </div>
      </div>

      <!-- Chart Container -->
      <div class="graph-container">
        <canvas id="chart-incomes-expenses"></canvas>
      </div>
    </div>

    <!-- Right Graphs -->
    <div class="finance-right-section">

      {% if currency_code != 'BRL' %}
      <!-- Currency Exchange Chart -->
      <div class="income-expense-card" id="currency-exchange-card">
        <div class="header-graph">
          <div class="title-graph">Exchange Rate (BRL → {{ currency_code }})</div>
        </div>
        <div class="graph-container">
          <canvas id="chart-brl-eur"></canvas>
        </div>
      </div>
      {% endif %}

      <!-- Monthly Expenses Breakdown -->
      <div class="income-expense-card" id="card-expenses-breakdown">
        <div class="header-graph">
          <div class="title-graph">Monthly Expense Breakdown</div>
          <div class="select-graph">
            <select id="monthSelect">
              {% for month in months %}
                <option value="{{ month }}" {% if loop.last %}selected{% endif %}>{{ month }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="graph-container" id="chart-expenses-breakdown">
          <canvas id="chart-expenses-pie"></canvas>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
