{% extends "base.html" %}

{% block title %}Finance Real{% endblock %}

{% block page %}
    <!-- Graph Data Injection -->
    <script type="application/json" id="data-currency-graph"> {{ datas_currency_euro_real|safe }} </script>
    <script type="application/json" id="data-finance-real-graphs"> {{ datas_graphs_page_real|safe }} </script>

    <!-- JS for Graph Rendering -->
    <script src="{{ url_for('static', filename='js/real_currency_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/real_graphs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/real_graph_cumulative_investments.js') }}"></script>

    <!-- Main Finance Content Layout -->
    <div id="finance-content">


        <!-- Left: Main Chart Section -->
        <div id="main-chart-section">
            <div class="finance-card" id="cumulative-balance-card">
                <div class="header-graph">
                    <div class="title-graph">Cumulative Balance</div>
                    <div class="select-graph">
                        <select id="yearSelectCumulative">
                            <option value="all" selected>All</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>
                <div id="chart-cumulative-balance">
                    <canvas id="chart-cumulative-investments"></canvas>
                </div>  
            </div>
        </div>

    
        <!-- Right: Side Chart Section -->
        <div id="side-chart-section">

            <!-- Currency Exchange Chart -->
            <div class="finance-card" id="currency-exchange-card">
                <div class="header-graph"> <div class="title-graph">Exchange Rate (BRL → EUR)</div> </div>
                <div id="chart-currency"> <canvas id="chart-brl-eur"></canvas> </div>
            </div>

            <!-- Income vs Expenses Chart -->
            <div class="finance-card" id="income-expense-card">
                <div class="header-graph">
                    <div class="title-graph">Income vs Expenses</div>
                    <div class="select-graph">
                        <select id="yearSelect">
                        <option value="all" selected>All</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        </select>
                        <select id="viewSelect">
                        <option value="month">Monthly</option>
                        <option value="year">Yearly</option>
                        </select>
                    </div>
                </div>
                <div id="chart-income-expenses"> <canvas id="chart-income-expenses-real"></canvas> </div>
            </div>
            </div>
        </div>
{% endblock %}