{% extends "base.html" %}

{% block title %}Investments{% endblock %}

{% block navbar %}{% include "components/navbar_invest.html" %}{% endblock %}

{% block page %}
    
    
    <div class="content-view" id="content-investments"> 
        {% if invest_type == 'home_invest' %}
            <script type="application/json" id="historic_by_broker"> {{ summary_by_brokerage|safe }} </script>
            <script type="application/json" id="assets">{{ summary_by_investment_type | safe }}</script>
            <script type="module" src="{{ url_for('static', filename='js/graphs/graph-pie-wallet.js') }}"></script>
            <script type="module" src="{{ url_for('static', filename='js/graphs/graph-cumulative-investments.js') }}"></script>
            <div id="home-invest">{% include "investments/home_invest.html" %}</div>

        {% else %}
            <script type="application/json" id="company-history">{{ selected_company|tojson }}</script>
            <script type="module" src="{{ url_for('static', filename='js/graphs/graph-companies-data.js') }}"></script>
            {% include "investments/broker.html" %}
        
        {% endif %}
    </div>
    
{% endblock %}