{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page %}
    <div id="content-home">
        
        <section id="financial-summary">
        {% for section in ["other", "incomes", "expenses", "balance"] %}
            <article class="summary-card">
                <div class="summary-header">
                    <span class="material-symbols-outlined">
                    {% if section == "other" %} trending_up
                    {% elif section == "incomes" %} money_bag
                    {% elif section == "expenses" %} credit_card
                    {% elif section == "balance" %} account_balance_wallet
                    {% endif %}
                    </span>
                    <h2 class="summary-title">
                    {% if section == "other" %}Investments
                    {% elif section == "incomes" %}Incomes
                    {% elif section == "expenses" %}Expenses
                    {% elif section == "balance" %}Balance
                    {% endif %}
                    </h2>
                </div>
                <div class="summary-content">
                    {% if section == "other" %}
                    <div class="summary-data"> R$ {{  values["investment_profit"]}} </div>
                    <div class="summary-data"> R$  {{ values["investment_current_value"] }} </div>
                    {% elif section == "incomes" %}
                    <div class="summary-data"> € {{ values["euro_income"] }} </div>
                    <div class="summary-data"> R$ {{ values["real_income"] }} </div>
                    {% elif section == "expenses" %}
                    <div class="summary-data"> € {{ values["euro_expense"] }} </div>
                    <div class="summary-data"> R$ {{ values["real_expense"] }} </div>
                    {% elif section == "balance" %}
                    <div class="summary-data"> € {{ values["euro_balance"] }} </div>
                    <div class="summary-data"> R$ {{ values["real_balance"] }} </div>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
        </section>



        <section id="add-transaction">
            <form id="transaction-form" method="POST" action="{{ url_for('transaction.add_transaction') }}">

                <div class="form-group">
                <label for="date">Date</label>
                <input class="info" type="date" id="date" name="date" required>
                </div>

                <div class="form-group">
                <label for="type">Type</label>
                <select class="info" id="type" name="type" required>
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
                </div>

                <div class="form-group">
                <label for="description">Description</label>
                <input class="info" type="text" id="description" name="description" placeholder="Enter description" required>
                </div>

                <div class="form-group">
                <label for="category">Category</label>
                <select class="info" id="category" name="category" required>
                    {% for category in ["Food", "Monthly Bills", "Cleaning/Hygiene", "Takeout", "Travel", "Housing", "Mensa", "Others", "Restaurant", "Clothing", "Investments", "Salary"] %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="form-group">
                <label for="amount">Amount</label>
                <input class="info" type="number" id="amount" name="value" placeholder="Enter amount" step="0.01" required>
                </div>

                <div class="form-group">
                <label for="currency">Currency</label>
                <select class="info" id="currency" name="coin" required>
                    <option value="Real">BRL</option>
                    <option value="Euro">EUR</option>
                </select>
                </div>

                <div class="form-group">
                <button class="submit-btn" type="submit">Add Transaction</button>
                </div>

            </form>
        </section>



        <section id="display-transactions" aria-label="Transaction Table">
            <div id="table-information-container">
                <table id="transaction-table">
                <thead>
                    <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in transactions %}
                    <tr>
                    <td>{{ t.date.strftime('%d/%m/%Y') }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.type }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ "€" if t.coin_type == "Euro" else "R$" }} {{ "{:,.2f}".format(t.value) }}</td>
                    <td>
                        <button class="edit-btn">Edit</button>

                        <form method="POST" action="{{ url_for('transaction.delete_transaction', transaction_id=t.id) }}" style="display: inline;">
                            <button class="delete-btn">Delete</button>
                        </form>
                        
                        
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </section>

    </div>
    
{% endblock %}